/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/02/2017, 01:04:58
    Author     : Robson
*/
    body {
        background-color: #eee; }
    .panel{
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px;
        margin: 10px;}
    
    .loader{
        display: none;
    }
    .message{
        display: none;
        background-color: lightblue;
        border-radius: 2px;
        height: 30px;
        width: 600px;
        padding: 5px;
        margin: 5px 10px;
        text-align: center;
        color: white;
    }
    .titulo{
        background-color: lightcoral;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px;
        margin: 0px 10px;
        text-align: center;
        color: white;
    }
    .resultado{
        background-color: white;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding: 30px;
        max-height: 300px;
        margin: 0px 10px;
        overflow-y: scroll;
    }
    /* RESPONSAVEL PELA SOMBRA INTERNA */
    .shadow{
        box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -moz-box-shadow: inset 0px 0px 10px 0px #ABABAB;
        -o-box-shadow: inset 0px 0px 10px 0px #ABABAB;
    }
    /* RESPONSAVEIS PELA PERSONALIZACAO DOS BOTOES*/
    .but {
        display: inline-block;
        background-color: #ccc;
        color: #444;
        padding: 10px 20px;
        text-decoration: none;
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
        border: 0px;
    }
    .but:hover {
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
        cursor: pointer;
    }

    .but-shadow {
        box-shadow: 1px 1px 1px #999;
    }

    .but-rc {
        border-radius: 3px;
    }

    .but-primary {
        color: #fff;
        background-color: #0068B4;
    }

    .but-success {
        color: #fff;
        background-color: #009835;
    }

    .but-regular {
        font-size: 100%;
    }
    .ip{
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
